body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: #000;
    color: white;
}

#controls {
    margin-bottom: 10px;
    color: black;
}

#controls button {
    height: 4rem;
    width: 10rem;
    box-shadow: inset 0 0 0 1px #eedc00, inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5);
}

#board {
    margin: 0 auto;
    overflow: auto;
    width: 624px;
    position: relative;
}

#message {
    position: absolute;
    background-color: black;
    width: 10rem;
    height: 3rem;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    border-radius: 25px;
    left: 35%;
    top: 140px;
    display: none;
}

canvas {
    border: 1px solid white;
    float: left;
}

#gridContainer {
    float: left;
    width: 260px;
    height: 28.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    margin-left: 20px;
    color: #afacac;
}

.gridOff {
    color: #5e5d5d;
}

.gridOn {
    color: red;
}